<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments_admin :: css_head_html">
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<link th:href="@{/resigter.css}">
<body>
<div class="wrapper">
    <div th:replace="admin/fragments_admin :: head_menu"></div>
    <!--    <div th:replace="admin/fragments_admin :: side-bar"></div>-->

    <div class="content">
        <a th:href="@{/trang-chu/tao-san-pham}">
            <button>Thêm</button>
        </a>

        <span th:if="${success}">Update sản phẩm thành công</span>
        <span style=" font-size :3em  ; color: red" th:if="${UpdateError}">Update Product không thành công</span>
        <span th:if="${msgDelete}">Đã xóa sản phẩm thành công</span>
        <table border="1" align="center">


            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Hình ảnh chính</td>
                <td>Hình ảnh phụ 1</td>
                <td>Hình ảnh phụ 2</td>
                <td>Hình ảnh phụ 3</td>
                <td>Description</td>
                <td>Giá tiền</td>
                <td>ngày nhập hàng</td>
                <td>Số lượng</td>
                <td>Tình trạng còn hàng</td>

            </tr>
            <tr th:each="product : ${products}" th:id="${product.id}">
                <td><span th:text="${product.id}">ID</span></td>
                <td><span th:text="${product.name}">Name</span></td>
                <td><img th:src="@{${product.image}}" style="height: 120px; width: 120px" id="imgProduct"
                         alt="Ảnh chưa hiển thị được"></td>
                <td><img th:src="@{${product.extraImage}}" style="height: 120px; width: 120px" id="imgProduct1"
                         alt="Ảnh chưa hiển thị được"></td>

                <td><img th:src="@{${product.extraImage2}}" style="height: 120px; width: 120px" id="imgProduct2"
                         alt="Ảnh chưa hiển thị được"></td>
                <td><img th:src="@{${product.extraImage3}}" style="height: 120px; width: 120px" id="imgProduct3"
                         alt="Ảnh chưa hiển thị được"></td>
                <td><span th:text="${product.description}">Description</span></td>
                <td><span th:text="${product.product_price}">Giá tiền</span></td>
                <td><span th:text="${product.createddate}">ngày nhập hàng</span></td>
                <td><span th:text="${product.quantity}">Số lượng</span></td>
                <td><span th:text="${product.isAvailable}">Còn hàng</span></td>
                <td><a th:href="@{'/trang-chu/edit-san-pham/' + ${product.id}}">
                    <button class="btn-info" value="Sửa"><span style="font-family: "Helvetica Neue", sans-serif">Sửa</span></button>
                </a></td>
                <td>
                    <a onclick="return Xoa()"
                       th:href="@{'/trang-chu/xoa-san-pham/' + ${product.id}}">
                        <button class="btn-danger" value="Xóa"><span style="font-family: "Courier New", Courier, monospace">Xóa</span>
                    </button>
                    </a>

                </td>
            </tr>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="align-items: center">
                <li class="page-item"><span>Total item : [[${totalItem}]]</span></li>
                <li style="padding-left: 10px" class="page-item">
                    <span>[[${currentPage}]] of [[${TotalPage}]]</span>
                <li style="padding-left: 10px" th:if="${currentPage > 1}" class="page-item"><a class="page-link"
                                                                                               th:href="@{'/trang-chu/ao-clothes/0'}">First</a>
                </li>
                <li th:if="${currentPage != 0}" class="page-item"><a class="page-link"
                                                                     th:href="@{'/trang-chu/ao-clothes/' + ${currentPage-1}}"
                                                                     href="#">Previous</a>
                </li>
                <li
                        th:each="i : ${#numbers.sequence(1,TotalPage)}" class="page-item"><a
                        class="page-link" th:href="@{'/trang-chu/ao-clothes/' + ${i-1}}" href="#"><span
                        th:text="${i}"></span></a></li>
                <li th:if="${currentPage + 1 != TotalPage} " class="page-item"><a
                        class="page-link"
                        th:href="@{'/trang-chu/ao-clothes/' + ${currentPage + 1}}"
                        href="
                                                                                  #">Next</a></li>
                <li th:if="${currentPage < TotalPage}" class="page-item"><a class="page-link"
                                                                            th:href="@{'/trang-chu/ao-clothes/' + ${TotalPage-1}}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:replace="admin/fragments_admin :: admin_footer"></div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script
        src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>

<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>


<script>
    function Xoa() {
        const question = confirm("Bạn có chắc chắn xóa sản phẩm này ?");
        if (question == true) {
            alert("Bạn đã xóa sản phẩm này");
            return true;
        } else {
            alert("Hủy thao tác");
            return false;
        }
    }
</script>
</body>
</html>