<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="admin/fragments_admin :: css_head_html">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="admin/fragments_admin :: head_menu"></div>




	<div th:replace="admin/fragments_admin :: admin_footer"></div>



	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script
		src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>

	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- AdminLTE -->
	<script th:src="@{/dist/js/adminlte.js}"></script>

	<!-- OPTIONAL SCRIPTS -->
	<script th:src="@{/plugins/chart.js/Chart.min.js}"></script>
	<!-- AdminLTE for demo purposes -->
	<script th:src="@{/dist/js/demo.js}"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script th:src="@{/dist/js/pages/dashboard3.js}"></script>
</body>
</html>