<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="user/fragments::html_head">
    <meta charset="UTF-8">
    <title>StreetWear clothes</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
<div><span sec:authorize="isAuthenticated()">Hello</span> : <span sec:authentication="name"></span></div>
<!--<div class="card">-->
<!--    <div class="row">-->
<!--        <div class="col-md-8 cart">-->
<!--            <div class="title">-->
<!--                <div class="row">-->
<!--                    <div class="col">-->
<!--                        <ul style="list-style: none; display: flex">-->
<!--                            <li style="padding: 10px"><h4><b><a th:href="@{/index}">Trang chủ</a></b></h4></li>-->
<!--                            <li style="padding: 10px"><h4><b>|</b></h4></li>-->
<!--                            <li style="padding: 10px"><h4><b>Shopping Cart</b></h4></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<div th:insert="user/fragments :: header"></div>
<div th:insert="user/fragments :: header3"></div>


<div class="row m-1">
    <div class="col-sm-8">
        <th:block th:each="item,status : ${cartItems}">
            <div class="row border rounded" th:with="product = ${item.product}" th:id="'row' + ${status.count}">
                <div class="col-1">
                    <div>[[${status.count}]]</div>
                    <div>
                        <a th:href="@{'/product/delete/' + ${product.id}}"><i style='font-size:24px' class='fas link-remove'>&#xf82a;</i></a>
                    </div>
                </div>
                <div class="col-3">
                    <img th:src="@{${product.image}}" width="140px" height="140px">
                </div>
                <div class="col-6">
                    <a th:href="@{'/product/' + ${product.id}}" th:title="${product.name}" target="_blank">
                        <b>[[${product.name}]]</b>
                    </a>
                    <div>
                        <div th:replace="user/quantity_control :: quantity_control(${item.quantity}, ${item.product.id})">
                            Quantity
                        </div>
                    </div>
                    <div>
                        <span>X</span>
                        <span>[[${product.product_price}]]</span>
                    </div>
                    <div>
                        <span> = </span>
                        <span th:id="'subtotal' + ${product.id}" class="h4 productSubtotal">[[${item.subtotal}]]</span>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}">
        <div>
            <span class="h3">Total</span>
        </div>
        <div class="mt-2">
            <span class="h2" id="totalPrice"></span>
        </div>
        <div class="mt-2">
            <button class="btn btn-danger p-3 mt-2">Check out</button>
        </div>
    </div>
</div>
<div th:if="${#lists.isEmpty(cartItems)}">
    <h3>You have chosen any products yet.</h3>
</div>
<div th:insert="user/fragments :: upper-footer"></div>
<div th:insert="user/fragments :: footer"></div>
<div th:insert="user/fragments :: gototop"></div>

<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
    const productId = "[[${product.id}]]";
</script>
<script th:src="@{/js/shoppingcart.js}"></script>
</body>
</html>